.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 4rem;
  width: 100%;
  position: fixed;
  z-index: 1;
  background: white;
  top: 0;
}

.logo {
  font-size: 24px;
  font-weight: 800;
}

.menus {
  flex: 1;
  gap: 12px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: flex-end;
  text-decoration: underline;
}

.menu {
  padding: 0.5rem;
  border-radius: 8px;

  &:hover {
    font-weight: 600;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .navbar {
    padding: 0 1rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}
